<div class="container">
  <div class="row">
    <div class="card mx-auto w-100">
      <div class="card-body">
      <%= form_with model: @spot, local: true do |f| %>
        <div>
        <%= f.label :spot_name, "スポット名" %>
        <%= f.text_field :spot_name %>
        </div>
        <div>
        <%= f.label :content, "内容" %>
        <%= f.text_field :content %>
        </div>
        <div>
        <%= f.label :photo, "写真" %>
        <%= f.file_field :photo %>
        </div>
        <div>
        <%= f.submit "送信" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
