<%# スポットリストの部分テンプレート %>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @spots.each do |spot| %>
    <div class="col">
      <div class="card h-100 border-primary">
        <%= image_tag spot.photo, class: "card-img-top", width: "250", height: "250"%>
        <div class="card-body">
          <h5 class="card-title text-center font-weight-bold"><%= spot.spot_name %></h5>
          <p class="text-right text-primary"><%= spot.prefecture.prefecture_name %></p>
          <p class="card-text"><%= spot.content %></p>
        </div>
        <div class="card-footer">
          <%= link_to "詳細", spot, class: 'btn btn-info btn-lg rounded-pill btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
