<%# スポットリスト %>
<section class="row-section">
  <div class="container">
    <h2 class="text-center"><span>Spot List</span></h2>
    <div class="text-right">
      <%= render "search" %>
    </div>
    <br class="my-5">
    <div class="card">
      <% if @spots.present? %>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <%= render "spot" %>
      <% else %>
        <label class="text-center">検索結果がありません。</label>
      <% end %>
      </div>
    </div>
  </div>
</section>
<br>
<p><%= paginate @spots %></p>

<div class="text-center">
  <% if @spots.present? %>
    <%= link_to "プランを作る！", new_plan_path, class: "btn btn-warning btn-lg rounded-pill" %>
  <% else %>
    <%= link_to "戻る", spots_path, class: 'btn btn-primary btn-lg rounded-pill' %>
  <% end %>
</div>


