<section class="row-section">
  <div class="container w-50">
      <h2 class="text-center"><span><%= @spot.spot_name %></span></h2>
      <div class="card mb-3">
      <%= image_tag @spot.photo, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title text-center font-weight-bold"><%= @spot.spot_name %></h5>
          <p><%= @spot.content %></p>
          <%# いいねの pタグ に id 属性を追加 %>
          <p id="spot-<%= @spot.id %>">
            <% if @spot.liked_by?(current_user) %>
              <%= render "like", post: @spot %>
            <% else %>
              <%= render "dislike", post: @spot %>
            <% end %>
          </p>
          <p class="text-right"><i class="far fa-clock"></i> <%= l @spot.created_at %></p>

          <div class="card-footer">
            <%= link_to 'スポットを追加！！',"#", class: 'btn btn-add btn-lg rounded-pill btn-block' %>
            <br class="my-7">
            <p><%= link_to "spot list", spots_path, class: 'btn btn-primary btn-lg rounded-pill btn-block' %></p>
          </div>
          <br class="my-7">
        </div>
      </div>

      <%# コメント %>
      <div class="card mb-3">
        <div class="row">
          <div>
            <div class="comment-create">
              <h4 class="text-left"><i class="fas fa-comments "></i> <%= @comments.count %>件のコメント</h4>
            </div>
              <br>
            <div id="comments_area">
              <%= render partial: "comments/index", local: { comments: @comments } %>
            </div>
          </div>
        </div>
          <h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る....</h6>
          <hr>
          <% if user_signed_in? %>
            <div class="comment-area">
              <%= render partial: "comments/form", loacl: { comments: @comments, spot: @spot } %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</section>


<%= link_to "プラン作成へ", new_plan_path %>
