<h1>スポット詳細</h1>
<p>【スポット名】 <%= @spot.spot_name %></p>
<p>【説明】 <%= @spot.content %></p>
<p>【写真】 <%= @spot.photo %></p>
<p>【作成日時】 <%= l @spot.created_at %></p>

<p><%= link_to "プラン作成へ", new_plan_path %></p>
<p><%= link_to "スポット一覧へ", spots_path %></p>

<%# いいねの pタグ に id 属性を追加 %>
<p id="spot-<%= @spot.id %>">
  <% if @spot.liked_by?(current_user) %>
    <%= render "like", post: @spot %>
  <% else %>
    <%= render "dislike", post: @spot %>
  <% end %>
</p>

