
<div class="container h-100">
  <br><h2 class="text-center"><span><%= @spot.spot_name %></span></h2><br>
  <div class="card mb-3 border-primary shadow p-3 mb-5 bg-white rounded mx-auto">
    <%= image_tag asset_path(@spot.photo), class: "card-img-top", width: "250", height: "250" %>
    <div class="card-body">
      <h4 class="card-title text-center font-weight-bold"><%= @spot.spot_name %></h4>
      <p><%= @spot.content %></p>
      <%# いいねの pタグ に id 属性を追加 %>
      <h4 id="spot-<%= @spot.id %>">
        <% if @spot.liked_by?(current_user) %>
          <%= render "like", post: @spot %>
        <% else %>
          <%= render "dislike", post: @spot %>
        <% end %>
      </h4>
      <p class="text-right"><i class="far fa-clock"></i> <%= l @spot.created_at %>作成</p>
    </div>
  </div>
</div>

<%# コメント %>
<div class="container h-100">
  <div id="comments_area">
      <%= render partial: "comments/index", locals: { comments: @comments } %>
  </div>
  <p><%= paginate @comments %></p>
</div>

<div class="container h-100">
  <div class="card mx-auto w-100 rounded-lg border-primary mb-3">
    <% if user_signed_in? %>
      <div class="comment-area">
        <%= render partial: "comments/form", loacls: { comments: @comments, spot: @spot } %>
      </div>
    <% end %>
  </div>
  <br class="my-7">
  <p class="text-center">
    <%= link_to "スポット 一覧へ", spots_path, class: 'btn btn-primary btn-lg rounded-pill' %>
    <%= link_to "プランを見に行く！", plans_path, class: "btn btn-info btn-lg rounded-pill" %>
  </p>
</div>

