<%# ユーザー情報変更画面 %>
<div class="container">
  <div class="row">
    <h1 class="text-center text-warning font-weight-bold">アカウント編集</h1>
    <div class="card mx-auto w-100">
      <div class="card-body">
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="from-group">
            <%= f.label :user_name, "ユーザー名" %><br />
            <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: "form-control" %>
          </div>
          <br class="my-5">
          <div class="from-group">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
          <% end %>
          <br class="my-5">
          <div class="from-group">
            <%= f.label :password, "パスワード変更" %> <i>(変更したい場合)</i>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "半角英数6文字以上"  %>
          </div>
          <br class="my-5">
          <div class="from-group">
            <%= f.label :password_confirmation, "パスワード変更(確認)" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "再度ご入力ください" %>
          </div>
          <br class="my-5">
          <div class="from-group">
            <%= f.label :current_password %> <i>(変更にはパスワードが必要です)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "必須項目です" %>
          </div>
          <br class="my-5">
          <div class="field">
            <%= f.label :avatar, "【アイコン】" %>
            <%= f.file_field :avatar %>
          </div>
          <br class="my-5">
          <div class="from-group">
            <%= f.submit t('.update'), class: 'form-control btn btn-primary'%>
          </div>
          <br class="my-5">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
              <%= link_to "マイページ", users_path, class: 'btn btn-info btn-block mb-4' %>
            </div>
            <div class="col-lg-6 col-md-6">
              <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: {confirm: t('.are_you_sure')}, method: :delete, class: 'btn btn-danger btn-block' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


