<%# 新規ユーザー登録画面 %>
<div class="container">
  <h1 class="text-center text-warning font-weight-bold"><%= t('.sign_up') %></h1>
  <div class="row">
    <div class="card mx-auto w-100">
      <div class="card-body">
        <%= form_with model: resource, url: user_registration_path, local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="from-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>
          <br class="my-5">
          <div class="from-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', required: true, minlength: @minimum_password_length, maxlength: '30' %>
          </div>
          <br class="my-5">
          <div class="from-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'  %>
          </div>
          <br class="my-5">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
              <div class="action">
                <%= link_to "ログイン", new_session_path(resource_name), class: 'form-control btn btn-primary' %><br />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="from-group">
                <%= f.submit t('.sign_up'), class: 'form-control btn btn-warning text-white' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

