<%# 新規ユーザー登録画面 %>
<div class="sidenav">
  <div class="login-main-text">
    <h2><%= t('.sign_up') %></h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form>
        <%= form_with model: resource, url: user_registration_path, local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
              <% if @minimum_password_length %>
                <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
              <% end %><br />
            <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', required: true, minlength: @minimum_password_length, maxlength: '30',  placeholder: "Password"  %>
          </div>
          <div class="from-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "Password"  %>
          </div>
        <br class="my-5">
        <%= f.submit t('.sign_up'), root_path, class: 'btn btn-warning text-white' %>
        <%= link_to "ログイン", new_session_path(resource_name), class: 'btn btn-primary' %><br />
      </form>
      <% end %>
    </div>
  </div>
</div>
