<%# コメント内容(２件) %>
<%= @comments.count %>件コメント
<h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る....</h6>
<% @comments.first(2).each do |com| %>
  <% unless com.id.nil? %>
    <div class="comment-container">
      <div class="comment-box">
        <div class="comment-text">
          <p><%= link_to "#{com.user.user_name}さん", users_path(com.user.id) %></p>
          <div class="comment-entry">
            <%= com.comment %>
            <% if com.user == current_user %>
              <%= link_to spot_comments_path(com.spot_id, com.id), method: :delete, remote: true, class: "comment_destroy" do %>
                <i class="fas fa-trash" style="color: black;"></i>
              <% end %>
            <% end %>
          </div>
          <span class="comment-date pull-right">
            <%= com.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%# コメント内容(3件目以降) %>
<div class="collapse" id="collapseExample">
  <% @comments.offset(2).each do |com| %>
    <% unless com.id.nil? %>
      <div class="comment-container">
        <div class="comment-box">
          <div class="comment-text">
            <p><%= link_to "#{com.user.use_name}さん", users_path(com.user.id) %></p>
            <div class="comment-entry">
              <%= com.commnt %>
              <% if com.user == current_user %>
                <%= link_to spot_comments_path(com.spot_id, com.id), method: :delete, remote: true, class: "comment_destroy" do %>
                  <i class="fas fa-trash" style="color: black;"></i>
                <% end %>
              <% end %>
            </div>
            <span class="comment-date pull-right">
              <%= com.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

