<%# コメント内容(２件) %>
<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="col-md">
      <div class="col-md">
        <div class="imag">
          <% if comment.user.avatar? %>
            <%= image_tag comment.user.avatar.url, size: "40x40", class: "rounded-circle" %>
          <% else %>
            <%= image_tag src="/assets/default.png", size: "40x40", class: "rounded-circle" %>
          <% end %>
          <span><%= link_to "#{comment.user.user_name}さん", user_path(comment.user.id) %></span>
          <span><%= l comment.created_at %></span>
          <% if comment.user == current_user %>
            <%= link_to spot_comments_path(comment.spot_id, comment.id), method: :delete, data: { confirm: '削除しますか?', remote: true }  do %>
              <i class="fas fa-trash" style="color: red;"></i>
            <% end %>
          <% end %>
        </div>
        <br><p><%= comment.comment %></p><hr>
      </div>
    </div>
  <% end %>
<% end %>



