<%# ユーザー一覧 %>
<section class="row-section">
  <div class="container">
    <div class="row">
      <h2 class="text-center"><span>User List</span></h2>
    </div>
    <% @users.each do |user| %>
      <div class="col-md-10 offset-md-1 row-block">
        <ul id="sortable">
          <li>
            <div class="media">
              <div class="media-left align-self-center">
                <%= image_tag user.avatar.url, class: "rounded-circle" %>
              </div>
              <div class="media-body">
                <h4><span><i class="fas fa-user"></i></span>
                  <% if user.email == "guest@example.com" %>
                    <span>ゲストユーザー</span>
                  <% else %>
                    <span><%= user.user_name %></span>
                  <% end %>
                </h4>
                <p><i class="fas fa-envelope"></i> <span><%= user.email %></span></p>
              </div>
              <div class="media-right align-self-center">
                <%= link_to "マイページ", user_path(current_user.id), class: "btn btn-primary"%>
              </div>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</section>
<p><%= link_to "プラン作成へ", new_plan_path %></p>