<%# ユーザー一覧 %>
<h1>ユーザーリスト</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @users.each do |user| %>
  <hr>
  <p><span>プロフィール画像: </span><%=link_to user.avatar, user_path(user.id) %></p>
  <p><span>ユーザー名: </span><%=link_to user.user_name, user_path(user.id) %></p>
  <p><span>メールアドレス: </span><%=link_to user.email, user_path(user.id) %></p>
<% end %>
<p><%= link_to "マイページへ", user_path(current_user.id) %></p>
<p><%= link_to "プラン作成へ", new_plan_path %></p>
