<%# マイページ %>
<div class="container">
  <% if user_signed_in? && @user == current_user %>
    <h2 class="text-secondary font-weight-bold"><i class="fas fa-user-circle fa-4x mb-5"></i>~Mine~</h2>
  <% else %>
    <h2 class="text-Dark font-weight-bold mb-5">ユーザーページ</h2>
  <% end %>
  <div class="card mb-3 mx-auto" style="max-width: 70%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="circle-avatar">
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url %>
          <% else %>
            <%= image_tag src="/assets/default.png" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-tite border-bottom">Profile</h3><br>
            <p class="card-text"><i class="fas fa-user fa-3x"></i>
              <% if @user.email == "guest@example.com" %>
                <span>ゲストユーザー</span>
              <% else %>
                <%= @user.user_name %>
              <% end %>
            </p>
            <p class="card-text"><i class="fas fa-envelope fa-2x"></i><span><%= @user.email %></span></p>
        </div>
      </div>
      <div class="container">
        <div class="row float-right">
          <% if user_signed_in? && @user == current_user %>
            <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-lg', method: :get do %>
              <i class="fas fa-user-edit"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<p><%= link_to "プラン作成へ", new_plan_path %></p>
<p><%= link_to "プラン詳細へ", plan_path %></p>
<p><%= link_to "プラン一覧へ", plans_path%></p>
<p><%= link_to "トップページ", root_path %></p>
<p><%= link_to "スポット一覧へ", spots_path %></p>

<p><%= link_to users_path, lass: 'btn btn-primary btn-lg', method: :get do %></p>
    <i class="fas fa-address-book fa-2x"></i>
  <% end %>


