<%# マイページ %>
<div class="container">
  <h3 class="text-primary font-weight-bold pt-3"><i class="fas fa-user-circle fa-4x mb-5"></i>
    <% if user_signed_in? && @user == current_user %>
      ~Mine~
    <% else %>
      ユーザーページ
    <% end %>
  </h3>
  <div class="text-right display-4 col-10">
    <%= link_to users_path, lass: 'btn btn-primary btn-lg', method: :get do %>
      <i class="fas fa-users"></i>
    <% end %>
  </div>
  <div class="card mb-3 mx-auto border-primary rounded" style="max-width: 70%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="circle-avatar text-center">
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url %>
          <% else %>
            <%= image_tag src="/assets/default.png" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-tite border-bottom">Profile</h3><br>
            <p class="card-text text-primary"><i class="fas fa-user fa-3x"></i>
              <span><%= @user.user_name %>さん</span>
            </p>
            <p class="card-text"><i class="fas fa-envelope fa-2x"></i><span><%= @user.email %></span></p>
        </div>
      </div>
      <div class="container">
        <div class="row float-right">
          <% if user_signed_in? && @user == current_user %>
            <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-lg', method: :get do %>
              <i class="fas fa-user-edit"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? && @user == current_user %>
  <div class="row">
    <% current_user.plans.each do |plan| %>
    <div class="col-sm-3">
      <div class="card rounded-pill">
        <div class="card-body text-center">
          <h5 class="card-title"><%= plan.title %></h5>
          <p class="card-text"><%= plan.day %></p>
          <%= link_to "詳しく！！", plan, class: "btn btn-info btn-lg rounded-pill text-center" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
<br>
<% if user_signed_in? && @user == current_user %>
  <p class="text-center"><%= link_to "Go new plan !!", new_plan_path, class: "btn btn-warning btn-lg rounded-pill" %></p>
  <p class="text-right"><%= link_to "Spot list", spots_path, class: "btn btn-primary btn-lg rounded-pill" %></p>
<% else %>
  <p class="text-center"><%= link_to "戻る", users_path, class: "btn btn-primary btn-lg rounded-pill" %></p>
<% end %>
</div>



