<%# マイページ %>
<div class="container h-100">
  <h2 class="text-primary font-weight-bold pt-3"><i class="fas fa-user-circle fa-4x mb-5"></i>
    <% if user_signed_in? && @user == current_user %>
      マイページ
    <% else %>
      ユーザーページ
    <% end %>
  </h2>
  <div class="card mb-3 border-primary shadow p-3 mb-5 bg-white rounded mx-auto" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="text-center">
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url, size: "200x200", class: "rounded-circle" %>
          <% else %>
            <%= image_tag src="/assets/default.png", size: "200x200", class: "rounded-circle" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-tite border-bottom">プロフィール</p><br>
            <p class="card-text text-primary"><i class="fas fa-user fa-3x"></i>
              <span><%= @user.user_name || "あなた" %></span>
            </p>
        </div>
      </div>
      <div class="container">
        <div class="row float-right">
          <% if user_signed_in? && @user == current_user %>
            <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-lg', method: :get do %>
              <i class="fas fa-user-edit"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% @user.plans.each do |plan| %>
    <div class="col-sm-3">
      <div class="card rounded-pill shadow p-3 mb-5 bg-white rounded">
        <div class="card-body text-center">
          <p class="card-title"><%= plan.title %></p>
          <p class="card-text"><%= plan.day %></p>
          <%= link_to "詳しく", plan, class: "btn btn-info btn-lg rounded-pill text-center" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br class="my-7">
<div class="container">
  <% if user_signed_in? && @user == current_user %>
    <p class="text-center">
      <%= link_to "プランを見に行く！", plans_path, class: "btn btn-info btn-lg rounded-pill" %>
      <%= link_to "プランを作る！", new_plan_path, class: "btn btn-warning btn-lg rounded-pill" %>
      <%= link_to "スポットを見に行く！", spots_path, class: "btn btn-primary btn-lg rounded-pill" %>
    </p>
  <% else %>
    <p class="text-center"><%= link_to "戻る", plans_path, class: "btn btn-primary btn-lg rounded-pill" %></p>
  <% end %>
</div>



