<%# ログイン前トップページ（仮） %>
<div class="jumbotron jumbotron-extend" height="200" aria-label="Placeholder: 1240x288">
  <div class="container-fluid jumbotron-container">
    <div class="text-up">
      <h1 class="site-name">E-tripp</h1>
      <p>さぁ、簡単に旅行プランを作ろう！！</p>
      <p><%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-warning btn-lg rounded-pill", method: :post %></p>
    </div>
  </div>
</div>

<div class="container marketing">
  <div>
    <section class="contents text-center">
      <div class="description bg-light">
        <h3>E-tippとは</h3>
          <p>
            簡単にプランを立てて、楽しく旅行が<br>
            できる計画投稿サービスです。
          </p>
      </div>
    </section>
  </div>

  <div class="container-fluid py-5 mw-md">
    <%# プラン作成 %>
    <section class="card mb-3 mx-auto" style="max-width: 512px;">
      <div class="row bg-light border border-2 rounded">
        <div class="col-md-6">
          <h2 class="featurette-heading pt-3">
          <span class="warning">
            簡単に<br>
            プランを作成
          </span>
          </h2>
          <p>
            タイトルをつけた後は、<br>
            時間とスポットを選ぶだけ。<br>
            「スポットを追加」ボタンで複数登録可能！ <br>
            簡単に、自分だけの旅行プランの作成ができます。
          </p>
        </div>
        <div class="col-md-6 text-center">
          <br><%= image_tag asset_path("/assets/new_plan.gif"), playsinline: true, controls: true, width: "250", height: "250" %>
        </div>
        <div class="col-md-12 bg-light">
          <br><h4 class="text-center warning">旅行プランを簡単に作ろう！！</h4><br>
        </div>
      </div>
    </section><br>

    <%# プラン詳細 %>
    <section class="card mb-3 mx-auto" style="max-width: 512px;">
      <div class="row bg-light border border-2 rounded">
        <div class="col-md-6">
          <h2 class="featurette-heading pt-3">
          <span class="info-c">
            プランを<br>
            タイムラインで確認
          </span>
          </h2>
          <p>
            作ったプランを見てみよう。<br>
            タイムラインで <br>
            いきたい場所をすぐに確認。<br>
            写真を押して、<br>
            スポットの確認もできます。
          </p>
        </div>
        <div class="col-md-6 text-center">
          <br><%= image_tag asset_path("/assets/plan_list.gif"), playsinline: true, controls: true, width: "250", height: "250" %>
        </div>
        <div class="col-md-12 bg-light">
          <br><h4 class="text-center info-c">作った旅行プランを見れるよ！</h4><br>
        </div>
      </div>
    </section><br>

    <%# スポット詳細 %>
    <section class="card mb-3 mx-auto" style="max-width: 512px;">
      <div class="row bg-light border border-2 rounded">
        <div class="col-md-6">
          <h2 class="featurette-heading pt-3">
          <span class="primary">
          スポット<br>
          を探す
          </span>
          </h2>
          <p>
            スポットを見てみよう。<br>
            お気に入りのスポットがあったら、<br>
            いいね！とコメントをつけて <br>
            他のユーザーと共有もできます。
          </p>
        </div>
        <div class="col-md-6 text-center">
          <br><%= image_tag asset_path("/assets/spot_list.gif"), playsinline: true, controls: true, width: "250", height: "250" %>
        </div>
        <div class="col-md-12 bg-light">
          <br><h4 class="text-center primary">行きたいスポットを見つけよう！</h4><br>
        </div>
      </div>
    </section>
  </div>
  <p class="text-center"><%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-warning btn-lg rounded-pill", method: :post %></p>
</div>

<hr class="featurette-divider border-primary">

<footer><br>
  <p class="float-right"><a href="#">トップに戻る</a></p>
  <p>&copy; 2021 k-ryo</p>
</footer>




