<%# ログイン前トップページ（仮） %>
<main>
  <div class="jumbotron jumbotron-extend" height="200" aria-label="Placeholder: 1240x288">
    <div class="container-fluid jumbotron-container">
      <div class="text-up">
        <h1 class="site-name">E-tripp</h1>
        <p>さぁ、簡単に旅行プランを作ろう！！</p>
        <p><%= link_to "ゲストユーザー", users_guest_sign_in_path, class: "btn btn-warning btn-lg rounded-pill", method: :post %></p>
      </div>
    </div>
  </div>

  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img featurette-image img-fluid mx-auto", width: "300", height: "250"%>
            <h5 class="text-center info">作った旅行プランを見れるよ！</h5><br>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img featurette-image img-fluid mx-auto", width: "300", height: "250"%>
            <h5 class="text-center primary">旅行プランを簡単に作ろう！！</h5><br>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img featurette-image img-fluid mx-auto", width: "300", height: "250"%>
            <h5 class="text-center warning">行きたい場所が見つかるかも！</h5><br>
          </div>
        </div>
      </div>
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading primary">Go new plan !!</h2>
        <p class="lead">text</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width: "500", height: "500"%>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading info">Plan List</h2>
        <p class="lead">text</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width: "500", height: "500"%>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading warning">Spot List</h2>
        <p class="lead">text</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width: "500", height: "500"%>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <br>
  <footer>
    <p>&copy; 2021 k-ryo</p>

  </footer>

</main>



