<%# ログイン後トップページ（仮） %>
<main>
  <div class="jumbotron jumbotron-extend" aria-label="Placeholder: 1240x288" height="200">
    <div class="container-fluid jumbotron-container">
      <div class="text-up">
        <h1 class="site-name">E-tripp</h1>
        <p>さぁ、簡単に旅行プランを作ろう！！</p>
        <p><%= link_to "Go new plan !!", new_plan_path, class: "btn btn-warning btn-lg rounded-pill" %></p>
      </div>
    </div>
  </div>

  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <div class="card border-primary">
          <div class="card-body">
            <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img featurette-image img-fluid mx-auto", width: "300", height: "250"%>
            <h5 class="text-center">作った旅行プランを見れるよ！</h5><br>
            <p><%= link_to "Plan List", plans_path, class: "btn btn-info btn-lg rounded-pill btn-block" %></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card border-primary">
          <div class="card-body">
            <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img featurette-image img-fluid mx-auto", width: "300", height: "250"%>
            <h5 class="text-center">旅行プランを簡単に作ろう！！</h5><br>
        <p><%= link_to "Go new plan !!", new_plan_path, class: "btn btn-warning btn-lg rounded-pill btn-block" %></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card border-primary">
          <div class="card-body">
            <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img featurette-image img-fluid mx-auto", width: "300", height: "250"%>
            <h5 class="text-center">行きたい場所が見つかるかも！</h5><br>
            <p><%= link_to "Spot List", spots_path, class: 'btn btn-primary btn-lg rounded-pill btn-block' %></p>
          </div>
        </div>
      </div>
    </div>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider border-primary">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading primary">Go new plan !!</h2>
        <p class="lead">text</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width: "500", height: "500"%>
      </div>
    </div>

    <hr class="featurette-divider border-primary">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading info">Plan List</h2>
        <p class="lead">text</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width: "500", height: "500"%>

      </div>
    </div>

    <hr class="featurette-divider border-primary">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading warning">Spot List</h2>
        <p class="lead">text</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "/assets/travel_happy_couple.png", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width: "500", height: "500"%>

      </div>
    </div>


    <!-- /END THE FEATURETTES -->

    <hr class="featurette-divider border-primary">
    <p class="text-center"><%= link_to "Go new plan !!", new_plan_path, class: "btn btn-warning btn-lg rounded-pill" %></p>
  </div><!-- /.container -->
  <br>
  <footer>
    <p>&copy; 2021 k-ryo</p>

  </footer>
</main>




