<%# プラン作成の部分テンプレ %>
<%= form_with model: @plan, local: true do |f| %>
  <p>
    <%= f.label :title,"タイトル" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :day,"日付", class: "control-label" %>
    <%= f.date_field :day, class: 'form-control' %>
  </p>
    <p>
    <%= f.fields_for :schedules do |sf| %>
      <div class="field">
        <%= render "schedules_fields", f: sf %>
    </div>
    <% end %>
    <div class="links">
      <%= link_to spot_path "スポット追加", f, :schedules %>
    </div>

  <p>
    <%= f.label :note,"メモ" %>
    <%= f.text_field :note %>
  </p>
  <%= f.submit %>
<% end %>