<%# プラン作成の部分テンプレ %>
<div class="container w-50">
  <div class="row">
    <div class="card mx-auto w-100">
      <div class="card-body">
        <%= form_with model: @plan, local: true do |f| %>
          <p>
            <%= f.label :title,"タイトル" %>
            <%= f.text_field :title, class: "form-control"%>
          </p>
          <p class="col-md-6">
            <%= f.label :day,"日付", class: "control-label" %>
            <%= f.date_field :day, class: 'form-control' %>
          </p>
            <p>
            <%= f.fields_for :schedules do |sf| %>
              <div class="field">
                <%= render "schedules_fields", f: sf %>
            </div>
            <% end %>
            <div class="links">
            </div>
          <p>
            <%= f.label :note,"メモ" %>
            <%= f.text_area :note, class: "form-control"%>
          </p>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>