<%# プラン一覧の部分テンプレ %>
<div>
  <p>【ユーザー名】<%= plan.user.email %></p>
  <p>【タイトル】<%= plan.title %></p>
  <p>【日付】<%= plan.day %></p>
  <p>【メモ】<%= plan.note %></p>
  <p>
    <%= link_to "詳細", plan %>
  </p>
</div>
<hr>