<%# プラン一覧の部分テンプレ %>
<section class="row-section">
  <div class="container">
    <div class="row">
      <h2 class="text-center"><span>Plan List</span></h2>
      <% @plans.each do |plan| %>
      <div class="card mx-auto w-100 rounded-lg border-primary">
        <div class="card-body">
          <div>
            <p class="text-primary"><i class="fas fa-user fa-lg"></i> <%= plan.user.user_name %>さん</p>
            <p><i class="fas fa-plane"></i> <%= plan.title %></p>
            <p><i class="fas fa-calendar-alt"></i> <%= plan.day %></p>
            <p><i class="fas fa-clock"></i>
            <% plan.schedules.each do |schedule| %>
              <%= schedule.specified_time.strftime( "%H:%M" ) %> <br>
              <i class="fas fa-map-marked-alt"></i><%= schedule.spot.spot_name %>
            <% end %>
            </p>
            <p><i class="fas fa-pen"></i> <%= plan.note %></p>
            <p class="text-right">
            <%= link_to "詳しく！！", plan, class: "btn btn-info btn-lg rounded-pill" %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>