<%# プラン詳細 %>
<section class="row-section">
  <div class="container">
    <h2 class="text-center"><span>Plan</span></h2>
    <div class="row">

      <div class="card  col-md-4 rounded-lg border-primary">
        <div class="card-body">
          <h3 class="text-primary"><i class="fas fa-user fa-lg text-primary"></i> <%= link_to @plan.user.user_name, user_path(@plan.user_id) %>さん</h3>
            <div class="text-dark text-right"><i class="far fa-clock"></i> <%= l @plan.created_at %></div> <br>

            <h4><i class="fas fa-plane"></i> <%= @plan.title %></h4> <br>
            <% if current_user.id == @plan.user_id %>
              <p class="warning"><i class="fas fa-calendar-alt"></i> <%= @plan.day %></p>
            <% else %>
              <p class="warning"><i class="fas fa-calendar-alt"></i> <%= @plan.day.strftime( "%Y-%m" ) %></p>
            <% end %>
            <table class="table">
              <thead class="table-light">
                <tr>
                  <th scope="col"><i class="fas fa-clock info"></i></th>
                  <th scope="col"><i class="fas fa-map-marked-alt info"></i></th>
                </tr>
              </thead>
              <tbody class="table-info table-striped">
                <% @plan.schedules.each do |schedule| %>
                  <tr>
                    <td ><%= schedule.specified_time.strftime( "%H:%M" ) %></td>
                    <td><%= schedule.spot.spot_name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <p><i class="fas fa-pen"></i></p>
            <p class="card border-primary"><%= @plan.note %></p> <br>

            <p class="text-right">
              <% if current_user.id == @plan.user_id %>
                <%= link_to edit_plan_path(@plan), class: "btn btn-primary" do %>
                  <i class="fas fa-edit fa-2x"></i>
              <% end %>
              <%= link_to plan_path(@plan), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger" do %>
                <i class="fas fa-trash fa-2x"></i>
              <% end %>
            </p>
          <% end %>
            <p class="text-left"><%= link_to "戻る", plans_path, class: "btn btn-info btn-lg rounded-pill" %></p>
        </div>
      </div>

      <div class="card col-md-8  rounded-lg border-primary">
        <div class="card-body">
          <div class="timeline-icon">
            <%= image_tag "/assets//travel_happy_couple.png", class: "bd-placeholder-img featurette-image img-fluid mx-auto", width: "200", height: "200"%>
          </div>
          <% @plan.schedules.each do |schedule| %>
            <div class="timeline-centered">
              <article class="timeline-entry">
                <div class="timeline-entry-inner">
                  <time class="timeline-time text-right"><%= schedule.specified_time.strftime( "%H:%M" ) %></time>
                  <div class="timeline-icon bg-success">
                  </div>
                  <div class="timeline-label">
                    <%= link_to spot_path(schedule.spot.id, schedule.id) do %>
                      <%= schedule.spot.spot_name%>
                      <%= image_tag asset_path(schedule.spot.photo), class: "bd-placeholder-img featurette-image img-fluid mx-auto", width: "250", height: "250"%>
                    <% end %>
                  </div>
                </div>
              </article>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


