<%# プラン詳細 %>
<section class="row-section">
  <div class="container">
    <h2 class="text-center"><span>Plan</span></h2>
    <div class="container  pull-left">
      <div class="row">
        <div class="card col-lg-4">
          <div class="card-body">
            <p><i class="fas fa-user fa-lg"></i><%= @plan.user.user_name %></p>
            <p><i class="fas fa-plane"></i> <%= @plan.title %></p>
            <p><i class="fas fa-calendar-alt"></i> <%= @plan.day %></p>
            <p><i class="fas fa-clock"></i>
            <%= @plan.schedules.each do |schedule| %>
              <%= schedule.specified_time %>
            <% end %>
            <p><i class="fas fa-pen"></i> <%= @plan.note %></p>
            <p><%= l @plan.created_at %></p>
            <% if current_user.id == @plan.user_id %>
              <p>
                <%= link_to "編集", edit_plan_path(@plan) %>
                <%= link_to "削除", plan_path(@plan), method: :delete, data: { confirm: "削除しますか？" } %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container pull-right">
  <div class="row">
    <div class="card col-lg-8">
      <div class="card-body">
        <div class="timeline-centered">

          <article class="timeline-entry">
            <div class="timeline-entry-inner">
              <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
              <div class="timeline-icon bg-success">
                <i class="entypo-feather"></i>
              </div>
              <div class="timeline-label">
                <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                <p>Test</p>
              </div>
            </div>
          </article>


          <article class="timeline-entry left-aligned">
            <div class="timeline-entry-inner">
              <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
              <div class="timeline-icon bg-secondary">
                <i class="entypo-suitcase"></i>
              </div>
              <div class="timeline-label">
                <h2><a href="#">Job Meeting</a></h2>
                <p>You have a meeting at <strong>Laborator Office</strong> Today.</p>
              </div>
            </div>
          </article>


          <article class="timeline-entry">
            <div class="timeline-entry-inner">
              <time class="timeline-time" datetime="2014-01-09T13:22"><span>03:45 AM</span> <span>Today</span></time>
              <div class="timeline-icon bg-info">
                <i class="entypo-location"></i>
              </div>
              <div class="timeline-label">
                <h2><a href="#">Arlind Nushi</a> <span>checked in at</span> <a href="#">Laborator</a></h2>
                <blockquote>Great place, feeling like in home.</blockquote>
              </div>
            </div>
          </article>


          <article class="timeline-entry left-aligned">
            <div class="timeline-entry-inner">
              <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
              <div class="timeline-icon bg-warning">
                <i class="entypo-camera"></i>
              </div>
              <div class="timeline-label">
                <h2><a href="#">Arber Nushi</a> <span>changed his</span> <a href="#">Profile Picture</a></h2>
                <blockquote>Pianoforte principles our unaffected not for astonished travelling are particular.</blockquote>
                <img src="#" class="img-responsive img-rounded full-width">
              </div>
            </div>
          </article>

          <article class="timeline-entry begin">
            <div class="timeline-entry-inner">
              <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
              <i class="entypo-flight"></i>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>

<p><%= link_to "プラン一覧へ", plans_path %></p>
<p><%= link_to "プラン作成へ", new_plan_path %></p>
<p><%= link_to "マイページへ", user_path(current_user.id) %></p>
<p>スポット一覧</p>

