<%# プラン詳細 %>
<section class="row-section">
  <div class="container">
    <h2 class="text-center"><span>Plan</span></h2>
    <div class="row">

      <div class="card  col-md-4 rounded-lg">
        <div class="card-body">
          <p class="text-primary"><i class="fas fa-user fa-lg"></i> <%= @plan.user.user_name %>さん</p>
          <p><i class="fas fa-plane"></i> <%= @plan.title %></p>
          <p><i class="fas fa-calendar-alt"></i> <%= @plan.day %></p>
          <p><i class="fas fa-clock"></i>
          <%= @plan.schedules.each do |schedule| %>
            <%= schedule.specified_time %>
          <% end %>
          <p><i class="fas fa-pen"></i> <%= @plan.note %></p>
          <p><i class="far fa-clock"></i><%= l @plan.created_at %></p>
          <% if current_user.id == @plan.user_id %>
            <p class="text-right">
                <%= link_to edit_plan_path(@plan), class: "btn btn-primary" do %>
                  <i class="fas fa-edit fa-2x"></i>
              <% end %>
              <%= link_to plan_path(@plan), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger" do %>
                <i class="fas fa-trash fa-2x"></i>
              <% end %>
            </p>
            <p class="text-left"><%= link_to "戻る", plans_path, class: "btn btn-info btn-lg rounded-pill" %></p>
          <% end %>
        </div>
      </div>

      <div class="card col-md-8  rounded-lg">
        <div class="card-body">
          <div class="timeline-centered">
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
                <div class="timeline-icon bg-success">
                  <i class="entypo-feather"></i>
                </div>
                <div class="timeline-label">
                  <h3><a href="#">Art Ramadani</a> <span>posted a status update</span></h3>
                </div>
              </div>
            </article>
            <article class="timeline-entry left-aligned">
              <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
                <div class="timeline-icon bg-secondary">
                  <i class="entypo-suitcase"></i>
                </div>
                <div class="timeline-label">
                  <h3><a href="#">Job Meeting</a></h3>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-01-09T13:22"><span>03:45 AM</span> <span>Today</span></time>
                <div class="timeline-icon bg-info">
                  <i class="entypo-location"></i>
                </div>
                <div class="timeline-label">
                  <h3><a href="#">Arlind Nushi</a> <span>checked in at</span> <a href="#">Laborator</a></h3>
                </div>
              </div>
            </article>
            <article class="timeline-entry left-aligned">
              <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span></time>
                <div class="timeline-icon bg-warning">
                  <i class="entypo-camera"></i>
                </div>
                <div class="timeline-label">
                  <h3><a href="#">Arber Nushi</a> <span>changed his</span> <a href="#">Profile Picture</a></h3>
                </div>
              </div>
            </article>
            <article class="timeline-entry begin">
              <div class="timeline-entry-inner">
                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                <i class="entypo-flight"></i>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


