<nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
  <div class="container-fluid">
    <%= link_to "旅行プラン", session_homes_index_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <%# ログイン時 %>
          <li class="nav-item active mx-5"><i class="fas fa-user fa-lg"></i>
            <% if current_user.email == "guest@example.com" %>
              <span>ゲストユーザー</span>
            <% else %>
              <span><%= current_user.user_name %>さん</span>
            <% end %>
          </li>
          <li class="nav-item active mx-3">
            <%= link_to user_path(current_user.id), class: "nav-link", method: :get do %>
              <i class="fas fa-user-circle fa-2x"></i>
            <% end %>
          </li>
          <li class="nav-item active mx-3">
            <div class="nav-item dropdown">
              <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">プラン</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "プラン作成", new_plan_path, class: "dropdown-item" %>
                <%= link_to "plan list", plans_path, class: "dropdown-item" %>
                <%= link_to "users list", users_path, class: "dropdown-item" %>
              </div>
            </div>
          </li>
          <li class="nav-item active">
          <%= link_to "ログアウト", destroy_user_session_path, class:"nav-link", method: :delete, data: { confirm: "ログアウトしますか？" } %>
          </li>
        <% else %>
          <%# 非ログイン時 %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "nav-link", method: :post %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
